@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'ArcadeClassic';
  src: url('/fonts/ARCADECLASSIC.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  overflow-x: clip;
}
